# This must match `install_requires` argument in 
# 'django-simple-custom-users' setup.py
django-countries==5.3.3
django-phonenumber-field==3.0.1
phonenumbers==8.10.13
phonenumbers==8.10.13
psycopg2==2.8.4
pyuca==1.2