# this must match `install_requires` argument in
# 'django-simple-custom-users' `setup.py`
psycopg2==2.8.4
-e git+https://github.com/sudomann/django-simple-custom-users.git@develop#egg=django_simple_custom_users